---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/619264/watch/providers?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - d24f1f1f038891e23bf403443fa8825f9bf2f588
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16695'
      Last-Modified:
      - '2021-11-13 13:59:39 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":619264,"results":{"AE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=AE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"AG":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=AG","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"AR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=AR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"AT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=AT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"AU":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=AU","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BB":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BB","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BG":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BG","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BH":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BH","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BM":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BM","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"BS":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=BS","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CH":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CH","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CL":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CL","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"CZ":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=CZ","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"DE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=DE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"DK":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=DK","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"DO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=DO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"DZ":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=DZ","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"EC":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=EC","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"EE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=EE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"EG":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=EG","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"ES":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=ES","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"FI":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=FI","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"FR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=FR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"GB":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=GB","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"GF":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=GF","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"GI":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=GI","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"GR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=GR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"GT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=GT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"HK":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=HK","ads":[{"display_priority":24,"logo_path":"/kIbbhgfOWTHNp0xpcFC5uJUAwHj.jpg","provider_id":158,"provider_name":"Viu"}],"flatrate":[{"display_priority":24,"logo_path":"/kIbbhgfOWTHNp0xpcFC5uJUAwHj.jpg","provider_id":158,"provider_name":"Viu"}],"rent":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"}],"buy":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"}]},"HN":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=HN","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"HU":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=HU","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"ID":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=ID","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"IE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=IE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"IN":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=IN","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"IS":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=IS","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"IT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=IT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"JM":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=JM","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"JO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=JO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"JP":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=JP","buy":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"},{"display_priority":3,"logo_path":"/tbEdFQDwx5LEVr8WpSeXQSIirVq.jpg","provider_id":3,"provider_name":"Google
        Play Movies"},{"display_priority":11,"logo_path":"/5NyLm42TmCqCMOZFvH4fcoSNKEW.jpg","provider_id":10,"provider_name":"Amazon
        Video"}],"rent":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"},{"display_priority":3,"logo_path":"/tbEdFQDwx5LEVr8WpSeXQSIirVq.jpg","provider_id":3,"provider_name":"Google
        Play Movies"},{"display_priority":11,"logo_path":"/5NyLm42TmCqCMOZFvH4fcoSNKEW.jpg","provider_id":10,"provider_name":"Amazon
        Video"}],"flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"},{"display_priority":4,"logo_path":"/9pS9Y3xkCLJnti9pi1AyrD5KbZe.jpg","provider_id":84,"provider_name":"U-NEXT"}]},"KR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=KR","rent":[{"display_priority":3,"logo_path":"/2ioan5BX5L9tz4fIGU93blTeFhv.jpg","provider_id":356,"provider_name":"wavve"}],"flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"KW":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=KW","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"LC":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=LC","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"LI":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=LI","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"LT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=LT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"LV":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=LV","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"LY":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=LY","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"MA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=MA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"MC":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=MC","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"MD":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=MD","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"MX":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=MX","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"NL":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=NL","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"NO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=NO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"NZ":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=NZ","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"OM":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=OM","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PF":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PF","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PH":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PH","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PK":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PK","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PL":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PL","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"PY":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=PY","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"QA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=QA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"RO":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=RO","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SG":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SG","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SK":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SK","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SM":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SM","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"SV":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=SV","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TC":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TC","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TH":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TH","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TN":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TN","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TR":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TR","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TT":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TT","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"TW":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=TW","rent":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"}],"buy":[{"display_priority":2,"logo_path":"/peURlLlr8jggOwK53fJ5wdQl05y.jpg","provider_id":2,"provider_name":"Apple
        iTunes"}],"flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"US":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=US","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"UY":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=UY","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"VE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=VE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"YE":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=YE","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]},"ZA":{"link":"https://www.themoviedb.org/movie/619264-el-hoyo/watch?locale=ZA","flatrate":[{"display_priority":0,"logo_path":"/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg","provider_id":8,"provider_name":"Netflix"}]}}}'
  recorded_at: Thu, 28 Apr 2022 23:44:54 GMT
recorded_with: VCR 6.1.0
