<nav class="navbar navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard"><%= image_tag "viewingpartylogo.png"%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: #ccbdd4">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/discover" style="color: #ccbdd4">Discover Movies</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active"> 
        <% if logged_in? %>
            <%= button_to "Logout", "/login", method: :delete, class: "btn btn-danger"  %>
        <% else %>
            <%= button_to "Login/Sign Up", "/login", method: :get, class: "btn btn-success"%>
        <% end %>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>