
 .navbar {
  background: #1D120C;
}

.navbar-toggler-icon{
  background-image: image-url("toggler.png");
}

 #welcome_images {
  width: 100vw;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;
}

.link img {
  width: 30vw;
  height: 20vw;
}

  html, body {
	background-image: image-url('/assets/film_background.jpg'); 
	height: 100%;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
  font-family: fantasy, 'copperplate';
}

.pad {
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: fantasy, 'copperplate';
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #9572a8 !important;
}

